<div class="guuc-section guuc-color--dark-blue guuc-section--bg3 guuc-section--contact-us" data-scroll-target="contact_us">
    <div class="guuc-section__inner">
        <h2 class="mdl-typography--text-uppercase guuc-section__heading mdl-color-text--white">Связаться с нами</h2>

        <p class="mdl-typography--subhead mdl-color-text--white guuc-section__common-text text--center">
            Любые предложения или пожелания, а также вопросы вы можете присылать нам на электронный ящик
            <a class="guuc-color-text--green" href="mailto:guuc2016@gmail.com">guuc2016@gmail.com</a>
        </p>
    </div>
</div>