<div class="mdl-layout__header layout__header--waterfall mdl-layout--no-desktop-drawer-button mdl-color--white">
    <div class="mdl-layout__header-row">
        <div class="mdl-layout__drawer-button mdl-js-button mdl-js-ripple-effect">
            <i class="mdi mdi-menu guuc-color-text--graphite"></i>
        </div>
        <div class="guuc-navigation-wrapper mdl-layout--large-screen-only">
            <nav class="mdl-navigation guuc-navigation guuc-navigation--horizontal">
                <a class="mdl-navigation__link mdl-typography--text-uppercase mdl-js-button mdl-js-ripple-effect"
                   href="#" data-href="home"
                   data-scroll><i class="mdi mdi-home"></i>Главная</a>
                <a class="mdl-navigation__link mdl-typography&#45;&#45;text-uppercase mdl-js-button mdl-js-ripple-effect"
                   href="#" data-href="winners"
                   data-scroll><i class="mdi mdi-trophy-variant mdl-color-text&#45;&#45;orange"></i>Результаты</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase mdl-js-button mdl-js-ripple-effect"
                   href="#" data-href="about_guuc"
                   data-scroll><i class="mdi mdi-information"></i>Про GUUC</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase mdl-js-button mdl-js-ripple-effect"
                   href="#" data-href="programm"
                   data-scroll><i class="mdi mdi-clipboard-text"></i>Программа</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase mdl-js-button mdl-js-ripple-effect"
                   href="#" data-href="sponsors"
                   data-scroll><i class="mdi  mdi-account-multiple"></i>Организаторы</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase mdl-js-button mdl-js-ripple-effect"
                   href="#" data-href="contact_us"
                   data-scroll><i class="mdi mdi-email"></i>Связаться с нами</a>
            </nav>
        </div>
        <i class="mdi mdi-chevron-left scrollindicator scrollindicator--left"></i>
        <i class="mdi mdi-chevron-right scrollindicator scrollindicator--right"></i>
    </div>
</div>
<div class="mdl-layout__drawer guuc-drawer">
    <nav class="guuc-navigation guuc-navigation--vertical mdl-navigation">
        <a class="mdl-navigation__link mdl-typography--text-uppercase mdl-js-button mdl-js-ripple-effect"
           href="#" data-href="home"
           data-scroll><i class="mdi mdi-home"></i>Главная</a>
        <a class="mdl-navigation__link mdl-typography&#45;&#45;text-uppercase mdl-js-button mdl-js-ripple-effect"
           href="#" data-href="winners"
           data-scroll><i class="mdi mdi-trophy-variant mdl-color-text&#45;&#45;orange"></i>Результаты</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase mdl-js-button mdl-js-ripple-effect"
           href="#" data-href="about_guuc"
           data-scroll><i class="mdi mdi-information"></i>Про GUUC</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase mdl-js-button mdl-js-ripple-effect"
           href="#" data-href="programm"
           data-scroll><i class="mdi mdi-clipboard-text"></i>Программа</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase mdl-js-button mdl-js-ripple-effect"
           href="#" data-href="sponsors"
           data-scroll><i class="mdi  mdi-account-multiple"></i>Организаторы</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase mdl-js-button mdl-js-ripple-effect"
           href="#" data-href="contact_us"
           data-scroll><i class="mdi mdi-email"></i>Связаться с нами</a>
    </nav>
</div>