<div class="mdl-grid">

    {% for person in personsData %}

    <div class="guuc-person {% if personsData.length > 1 %}mdl-cell mdl-cell--6-col-desktop{% else %}mdl-cell mdl-cell--12-col-desktop{% endif  %}">
        <div class="guuc-person__photo-wrapper">
            <div class="guuc-person__photo" style="background-image: url({{person.photo}})"></div>
        </div>
        <div class="guuc-person__info-wrapper">
            <div class="guuc-person__info">
                <h5 class="guuc-person__name guuc-color-text--blue">{{person.firstName + ' ' + person.secondName}}</h5>
                <p class="guuc-person__title guuc-color-text--green">{{person.position}}</p>
                <p class="guuc-person__email">
                    <i class="mdi mdi-contact-mail guuc-color-text--medium-grey"></i>
                    <a href="{{'mailto:' + person.email}}"
                       class="guuc-color-text--graphite"> {{person.email}}</a>
                </p>

                {% if person.role %}

                <p class="guuc-person__role"><span class="guuc-color-text--medium-grey">Роль:</span> {{person.role}}</p>

                {% endif %}

            </div>
        </div>
    </div>

    {% endfor %}

</div>
