.owl {

  &-prev,
  &-next {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -20px;
  }

  &-prev {
    left: 20px;
  }

  &-next {
    right: 20px;
  }

  &-stage-outer {
    width: 100%;
    z-index: -1;
  }

  &-carousel:before {
    content: attr(data-slides-count);
    position: absolute;
    display: block;
    top: 100%;
    left: 50%;
    min-width: 80px;
    background-color: #fff;
    height: 30px;
    line-height: 30px;
    margin-top: -15px;
    transform: translateX(-50%);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 3px;
    z-index: 10;
    text-align: center;
  }

}