.guuc-winners {
  width: 100%;

  & + & {
    margin-top: 40px;
  }

  &__media {
    position: relative;
  }

  &__winners-list {
    padding: 0;
  }

  &-table {
    font-size: 16px;
    width: 100%;

    thead {
      padding-bottom: 0;
    }

    th {
      font-weight: 500;
      font-size: 16px;
      color: rgba(#000, .8);
    }

    th,
    td {
      padding: 8px;
    }

    td[data-js-place],
    td[data-css-place] {
      padding-left: 36px;
    }

    td[data-js-place]:after,
    td[data-css-place]:before {
      height: 20px;
      width: 20px;
      line-height: 20px;
      font-size: 12px;
      color: #fff;
      position: absolute;
      border-radius: 50%;
      left: 8px;
      text-align: center;
      top: 50%;
      margin-top: -10px;
    }

    td[data-js-place][data-css-place] {
      &:after {
        margin-top: -2px;
      }

      &::before {
        margin-top: -18px;
      }
    }

    td[data-js-place]:after {
      content: attr(data-js-place);
      background-color: #a3c644;
    }

    td[data-css-place]:before {
      content: attr(data-css-place);
      background-color: #39c2d7;
    }

    th:first-of-type,
    td:first-of-type {
      padding-left: 8px;
    }

  }

  &__control-wrapper {
    div {
      flex-grow: 1;

      label {
        display: flex;
        align-items: center;
      }
    }

    @media (min-width: 840px) {
      padding-right: 20px;

      & + & {
        padding-left: 20px;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  &__control {
    background-color: rgba(#fff, 0.9);
    flex-grow: 1;
    padding: 5px;
    border: 1px solid rgba(#000, .12);
    border-radius: 2px;
    height: 2.5rem;

    &--length {
      margin: 0 10px;
    }
  }
}

.guuc-winner {
  min-height: auto;

  &__inner-wrapper {
    padding: 10px;
  }

  &__photo-wrapper {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0 auto;
  }

  &__rank {
    font-weight: 600;
    font-size: 12px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    position: absolute;
    color: #fff;
    left: 0;
    top: 50%;
    margin-top: -12px;
    margin-left: -12px;
    text-align: center;
  }

  &__extra-rank {
    width: 24px;
    height: 24px;
    color: #fff;
    text-align: center;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -12px;
    margin-right: -12px;
    border-radius: 50%;
  }

  &__photo {
    border: 6px solid #E7E7E7;
    border-radius: 50%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 120px;
    width: 120px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__name {
    text-align: center;
    margin: 0;
  }

  &__info {
    margin-top: 20px
  }

}