{% extends "./templates/layout.tmpl.html" %}

{% block title %}GUUC{% endblock %}

{% block content %}

<div class="guuc-section guuc-section--intro guuc-section--bg1" data-scroll-target="home">
    <div class="guuc-logo text--center">
        <img src="images/guuc-logo-1.png" class="guuc-logo__image">
    </div>
    <div class="guuc-section--intro__button-wrapper text--center">
        <button type="button"
                class="mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect"
                data-href="about_guuc">
            <i class="mdi mdi-arrow-down"></i>
        </button>
    </div>
</div>
<div class="guuc-section guuc-section--bg2" data-scroll-target="about_guuc">
    <div class="guuc-section__inner">
        <h2 class="mdl-typography--text-uppercase guuc-section__heading guuc-color-text--blue">Про GUUC</h2>

        <p class="mdl-typography--subhead guuc-color-text--graphite guuc-section__common-text">

            <strong class="guuc-color-text--blue">GUUC</strong>, или же <strong>Gomel UI/UXD Competition</strong> – это первые в Гомеле открытые соревнования по UI/UXD разработке, направленные на поиск ребят, интересующихся веб технологиями.<br>
            Если ты студент ВУЗа или уже закончил обучение, знаешь HTML и CSS, чувствуешь в себе силу настоящего фронтэнд-разработчика, то у тебя есть отличный шанс проверить себя и свои способности и принять участие в GUUC 2.<br><br>
            Для победителей и призеров соревнований в этом году предоставится уникальная возможность вне конкурса стать слушателем бесплатного тренинга по <a href="http://www.training.by/">Front-end</a> технологиям с последующим трудоустройством в компанию <a href="http://www.epam.by/">EPAM Systems</a> при условии соответствующего уровня английского языка и успешного окончания тренинга.

        </p>
    </div>
</div>

<div class="guuc-section guuc-color--graphite guuc-section--bg3 guuc-color-text--light-grey" data-scroll-target="programm">
    <div class="guuc-section__inner">
        <h2 class="mdl-typography--text-uppercase guuc-section__heading guuc-color-text--green">Программа</h2>

        <p class="mdl-typography--subhead guuc-section__common-text">
            Соревнования GUUC 2 будут проходить по двум направлениям: <i class="guuc-color-text--blue">HTML/CSS</i> и <i class="guuc-color-text--green">JavaScript</i>. Все желающие могут принимать участие как по одному, так и по двум направлениям одновременно. Победители по каждому направлению будут выявляться независимо, с учетом набранных баллов по соответствующему направлению.
        </p>

        <ul class="guuc-list mdl-typography--subhead guuc-section__common-text">
            <li class="guuc-list__item">
                <strong>Отборочный тур</strong> – состоит из практического задания, необходимо упаковать в архив <strong>ZIP</strong> (имя архива должно следовать соответствующему шаблону: <i class="guuc-color-text--blue">name_surname_html-css</i> или <i class="guuc-color-text--green">name_surname_javascript</i>) и выслать на электронную почту
                <a href="mailto:guuc2016@gmail.com">guuc2016@gmail.com</a> до
                <strong class="guuc-color-text--blue">8 января 2017 года</strong>. В письме также необходимо указать ваши контактные данные: фамилию и имя, Skype и телефон для связи.
            </li>
            <li class="guuc-list__item">
                <strong>Полуфинал</strong> и <strong>Финал</strong> – пройдут в Гомельском офисе <a href="http://www.epam.by/">EPAM Systems</a>
            </li>
        </ul>

        <div class="mdl-grid guuc-tasks-grid">

            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title guuc-color--blue">
                    <div class="mdl-card__title-text mdl-color-text--white">CSS/HTML</div>
                </div>
                <div class="mdl-card__supporting-text mdl-card--expand">
                    <div class="guuc-task__common-text mdl-typography--subhead  guuc-color-text--medium-grey">
                        Первые <strong class="guuc-color-text--blue">20</strong> участников, которые успешно справятся с заданием и первыми пришлют свои решения – попадут в полуфинал.<br><br>
                        <strong>Полуфинал</strong> и <strong>Финал</strong> – пройдут в Гомельском офисе <a href="http://www.epam.by/">EPAM Systems</a> <strong class="guuc-color-text--blue">14 января 2017 года</strong>.<br><br>
                        В <strong>полуфинале</strong> участникам предстоит посоревноваться в умении находить и исправлять ошибки в разметке страниц и каскадных таблицах стилей.<br><br>
                        <strong>Финал</strong> будет представлять собой CSS Quiz. Участникам нужно с помощью CSS селекторов находить заданные элементы в тексте. При этом важны будут не только правильность, оптимальность, но и время выполнения запросов.
                    </div>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a href="http://www.guuc.by/data/html-css__task.zip"
                       class="mdl-button mdl-button--colored mdl-button--raised mdl-js-button mdl-js-ripple-effect"><i class="mdi mdi-download"></i>Скачать задание</a>
                </div>

            </div>

            <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title guuc-color--green">
                    <div class="mdl-card__title-text mdl-color-text--white">JavaScript</div>
                </div>
                <div class="mdl-card__supporting-text mdl-card--expand">
                    <div class="guuc-task__common-text mdl-typography--subhead guuc-color-text--medium-grey">
                        Первые <strong class="guuc-color-text--green">30</strong> участников, которые успешно справятся с заданием и первыми пришлют свои решения – попадут в полуфинал.<br><br>
                        <strong>Полуфинал</strong> и <strong>Финал</strong> – пройдут в Гомельском офисе <a href="http://www.epam.by/">EPAM Systems</a> <strong class="guuc-color-text--green">21 января 2017 года</strong>.<br><br>
                        В <strong>полуфинале</strong> участникам предстоит пройти JavaScript Quiz и показать свои знания в JS Core.<br><br>

                        <strong>Финал</strong> будет представлять собой JavaScript Quest. Участникам предстоит правильно решить задачи на JavaScript. При этом немалую роль будет играть затраченное время.
                    </div>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a href="http://www.guuc.by/data/javascript__task.zip"
                       class="mdl-button mdl-button--accent mdl-button--raised mdl-js-button mdl-js-ripple-effect"><i class="mdi mdi-download"></i>Скачать задание</a>
                </div>

            </div>

        </div>

        <p class="mdl-typography--subhead guuc-section__common-text">
            Все участники, попавшие в полуфинал, получат приятные сувениры, а также смогут посетить мастер-классы от ведущих UX-разработчиков EPAM.
        </p>

    </div>
</div>

<!-- <div class="guuc-section guuc-color--graphite guuc-section--bg3 guuc-color-text--light-grey" data-scroll-target="programm">
    <div class="guuc-section__inner">
        <h2 class="mdl-typography--text-uppercase guuc-section__heading guuc-color-text--green">Программа</h2>

        <p class="mdl-typography--subhead guuc-section__common-text">Соревнования будут проходить в два этапа:</p>
        <ul class="guuc-list mdl-typography--subhead guuc-section__common-text">
            <li class="guuc-list__item">
                Отборочный тур – состоит из практического задания, которое нужно выполнить и выслать на электронную почту
                <a href="mailto:guuc2016@gmail.com">guuc2016@gmail.com</a> до
                <strong class="guuc-color-text--blue">11 апреля 2016 года</strong>. Первые
                <strong class="guuc-color-text--blue">30</strong> участников, которые успешно справятся с заданием и первыми пришлют свои решения – попадут в полуфинал.
            </li>
            <li class="guuc-list__item">
                Полуфинал и Финал – пройдут в Гомельском офисе <strong>EPAM</strong> <strong class="guuc-color-text--blue">16 апреля 2016 года</strong>. И только
                <strong class="guuc-color-text--blue">15</strong> лучших из лучших смогут посоревноваться между собой за звание сильнейшего.
            </li>
        </ul>

        <p class="mdl-typography--subhead guuc-section__common-text">
            Условия отборочного тура - (<a href="data/Task.zip" >ссылка на файл с заданием</a>)
            <br><br>
            Задание необходимо упаковать в архив <strong>ZIP</strong> и выслать на электронную почту
            <a href="mailto:guuc2016@gmail.com">guuc2016@gmail.com</a> до
            <strong class="guuc-color-text--blue">11 апреля 2016 года</strong>. В письме также необходимо указать Ваше имя и телефон для связи.
            <br><br>
            Полуфинал пройдет в Гомельском офисе EPAM. Участникам предстоит посоревноваться в умении находить и исправлять ошибки в разметке страниц и каскадных таблицах стилей.
            <br><br>
            Финал будет представлять собой CSS Quiz. Участникам нужно с помощью CSS селекторов находить заданные элементы в тексте. При этом важны будут не только правильность, оптимальность, но и время выполнения запросов.
            <br><br>
            Все участники, попавшие в полуфинал, получат приятные сувениры, а также смогут посетить мастер-классы от ведущих UX-разработчиков EPAM.
        </p>

    </div>
</div> -->

<div class="guuc-section mdl-color--grey-100" data-scroll-target="sponsors">
    <div class="guuc-section__inner">
        <h2 class="mdl-typography--text-uppercase guuc-section__heading guuc-color-text--red">Организаторы</h2>

        {% include "./templates/organizers.tmpl.html" with organizersData %}

    </div>
</div>

<!--
<div class="guuc-section guuc-section--winners" data-scroll-target="winners">
    <div class="guuc-section__inner">
        <h2 class="mdl-typography--text-uppercase guuc-section__heading mdl-color-text--white">Победители</h2>

        {% include "./templates/winners.tmpl.html" with eventsData %}

    </div>
</div>
-->

{% endblock %}
